.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card {
  width: 200px;
  background-color: white;
  padding: 16px;
  color: rgb(29, 28, 28);
  border-radius: 4px;
  box-shadow: 0 0 16px rgba(0,0,0,0.5);
  margin-top: 24px;
}
.card:hover {
  box-shadow: 0 0 16px rgba(0,0,0,0.3);
}
.card img {
  height: 120px;
}
.card-footer {
  text-align: center;
  padding: 0 16px;
}
@media (max-width: 900px) {
  .cards {
    display: block;
    justify-content: center;
  }
  .card {
    margin: 16px auto;
    width: 400px;
  }
}
